header h1{
    text-align: center;
    font-weight: 900;
    font-size: 100px;
}

#score span{
    text-align: center;
    font-size: 50px;
    
}
#score{
    display: flex;
    justify-content: center;
}

.molebox{
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    align-items: center;
    padding: 80px 15px;
}

.molebox button{
    height: 200px;
    width: 200px;
    border-radius: 200px;
    background-color: blueviolet;
    border: 7px solid black;
}

.restart{
    display: flex;
    justify-content: center;

}
#bun{
    height: 50px;
    width: 100px;
    background-color: red;
    font-size: 20px;
    
}
.mole.active{
    background-color: darkorange;

}
#milo {
    display: none;
    position: fixed;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.549);
    top: 0;
    left :0;
    padding-top: 345px;

}
#re {
    background-color: bisque;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    height : 50px;
    width : 200px;

}
#milo div{
    margin-bottom: 10px;
    font-size: xx-large;
    font-weight: 800;

}